body {
    font-family: 'Noto Sans JP', sans-serif; /* 日本語対応のモダンなフォント */
    display: flex;
    flex-direction: column;
    align-items: center; /* 中央揃え */
    text-align: center; /* テキストを中央揃え */
    background-color : #636363;
    color: #f0f0f0; /* 明るいグレーの文字色 */
}

main {
    width: 100%;
    max-width: 1200px; /* コンテンツの最大幅 */
    padding: 20px;
    box-sizing: border-box;
    text-align: center; /* テキストを中央揃え */
    color: #f0f0f0; /* 明るいグレーの文字色 */
}

.tabs {
    list-style-type: none; /* ・を消す */
    padding: 0;
    margin: 0;
    display: flex; /* 横一列に並ぶようにする */
    background-color: #333; /* 黒を基調とした背景色 */
}

.tab {
    flex: 1;
    text-align: center;
}

.tab a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: white; /* 白い文字 */
}

.tab a:hover {
    background-color: #575757; /* グレーのホバー効果 */
}
