body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* 上部に揃える */
    padding-top: 100px; /* 上部に余白を追加 */
}

.dashboard-container {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url('../assets/image/dashboard.gif'); /* 背景画像を設定 */
    background-size: cover; /* 画像の大きさを自動調節 */
    background-position: center; /* 画像を中央に配置 */
    background-repeat: no-repeat; /* 画像を繰り返さない */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* 最背面に表示 */
}

.sidebar {
    width: 200px;
    background-color: rgba(51, 51, 51, 0.8); /* 背景色を半透明に */
    padding: 20px;
    box-sizing: border-box;
    z-index: 1; /* 前面に表示 */
}

.sidebar-tabs {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-tab {
    margin-bottom: 10px;
}

.sidebar-tab a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: #444;
}

.sidebar-tab a:hover {
    background-color: #575757;
}

.dashboard-content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1; /* 前面に表示 */
    margin-top: 20px; /* 上部に余白を追加 */
}
